@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-size: 15px;
  line-height: 24px;
  color: #272727;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("../img/Background-Header.png") no-repeat;
}

.header__top {
  padding: 47px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.header__img {
  margin-right: 12px;
}

.header__lable {
  font-size: 20px;
  line-height: 25px;
  margin-right: 242px;
  letter-spacing: -0.349794px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  margin: 0 0 0 50px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header__link a {
  color: #ffffff;
}

.header__link:hover {
  opacity: 1;
}

.header__link:first-child {
  margin: 0;
}

.header__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.header__sing {
  line-height: 24px;
  margin: 0 0 0 43.7px;
  color: #250f8a;
}

.header__sing span {
  height: 40px;
  padding: 8px 43.38px;
  border-radius: 20px;
  background: #ffffff;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 210px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
}

.header__title {
  width: 505px;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
}

.header__subtitle {
  font-size: 24px;
  line-height: 55px;
  margin-bottom: 60px;
}

.header__btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #250f8a;
}

.header__btn span {
  height: 40px;
  padding: 13px 43.38px;
  border-radius: 25px;
  background: #ffca00;
}

.special__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.special__title {
  text-align: center;
  margin-bottom: 96px;
}

.special__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.develop {
  margin-bottom: 65px;
}

.develop__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.develop__img {
  margin-bottom: 22px;
}

.develop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 7px;
}

.develop__text {
  text-align: center;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
